@{
    ViewData["Title"] = "Home Page";
}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <img src="/img/top.jpg" style="width: 500px; height: 350px;">
            <h1 class="fw-light">FightGroops</h1>
            <p class="lead text-body-secondary">A community of devoted fighters, passionate about fighting and life. Ready to find your accountability partner?.</p>
        </div>
    </div>
</section>

